
<div id="container">
    <div id="box">

        <ul class="options">
            <li class="itens" style="margin-top: -18px;">
                <p>Material <br> Didático</p>
                <div class="circle" style="background: rgba(150, 150, 245, 0.70);">
                    <a href="material-d">
                        <img class="rounded-circle" style="width: 80px;" src="../../../assets/img/materialDidatico.png" alt="">
                    </a>
                </div>
                
            </li>
            <li class="itens">
                <p>Quiz</p>
                <div class="circle" style=" background: rgba(166, 245, 150, 0.70);">
                    <a href="">
                        <img class="rounded-circle" style="width: 80px; height: 80px;" src="../../../assets/img/quiz1.png" alt="">
                    </a>
                </div>
            </li>
            <li class="itens">
                <p>Desenho</p>
                <div class="circle" style=" background: rgba(245, 150, 224, 0.70);">
                    <a href="blackboard">
                        <img class="rounded-circle" style="width: 80px; height: 80px;" src="../../../assets/img/desenho1.png" alt="">
                    </a>
                </div>
            </li>
            <li class="itens">
                <p>Youtube</p>
                <div class="circle" style=" background: rgba(245, 215, 150, 0.70);">
                    <a href="">
                        <img class="rounded-circle" style="width: 80px; padding: 10px 0;" src="../../../assets/img/youtube.png" alt="">
                    </a>
                </div>
            </li>
        </ul>

    </div>

</div>