
<div id="feeds">
    <div>
        <p>Semana 06/02 até 28/02    <span><a href=""><</a><a href="">></a></span></p> 
    </div>
    <div>
        <h3>Video Aulas</h3>
        <h5>Complete os estudos assistindo o conteúdo de forma dinâmica.</h5>
    </div>

    <div class="feed">

        <!-- <div class="card" *ngFor="let item of listItem">
            <a href="" target="_blank" rel="noopener noreferrer">
                <img class="image" src="{{item.image}}" alt="">                
            </a>
        </div> -->

        <div class="card">
            <a href="" target="_blank" rel="noopener noreferrer">
                <img class="image" src="../../../assets/img/videos-img/SurgimentoH.jpg" alt="">                
            </a>
        </div>

        <div class="card">
            <a href="" target="_blank" rel="noopener noreferrer">
                <img class="image" src="../../../assets/img/videos-img/FigurasLinguagem.jpg" alt="">                
            </a>
        </div>

        <div class="card">
            <a href="" target="_blank" rel="noopener noreferrer">
                <img class="image" src="../../../assets/img/videos-img/fluência na leitura.jpg" alt="">                
            </a>
        </div>

        <div class="card">
            <a href="" target="_blank" rel="noopener noreferrer">
                <img class="image" src="../../../assets/img/videos-img/saúde auditiva e visual.jpg" alt="">                
            </a>
        </div>

        <div class="card">
            <a href="" target="_blank" rel="noopener noreferrer">
                <img class="image" src="../../../assets/img/videos-img/Morfossintaxe.jpg" alt="">                
            </a>
        </div>
    </div>
</div>