
<div id="container">
    <div id="banner">
        <img class="banner" src="../../../assets/img/banner.png" alt="">
        <!-- <img class="banner" src="../../../assets/img/banner.jpg" alt="">
        <img class="foto-tiago" src="../../../assets/img/tiago-mochileiro.png" alt="">
        <img class="mochileiro" src="../../../assets/img/mochileiro.png" alt="">
        <div class="texto">
            <h1>Conheça a jornada do Trakto Edu</h1>
            <h4>O design como ferramenta educadora.</h4>
        </div>             -->
    </div>
    <br>
    <a href="materialList">Listar Material</a>
    <div id="cards">
        <traktotv-feed-cards></traktotv-feed-cards>

    </div>
    <div id="videos">
        <traktotv-feed-videos></traktotv-feed-videos>

    </div>
</div>