
<div id="feeds">
    <div>
        <p>Semana 06/02 até 28/02    <span><a href=""><</a><a href="">></a></span></p> 
    </div>
    <div>
        <h3>Material Didático</h3>
        <h5>Acesse suas últimas apresentações de aula.</h5>
    </div>

    <div class="feed">
        <div class="card">
            <a href="" target="_blank" rel="noopener noreferrer">
                <img class="image" src="../../../assets/img/fono.jpg" alt="">
                <h6>Aula 1: Fono-ortografia</h6>
            </a>
        </div>

        <div class="card">
            <a href="" target="_blank" rel="noopener noreferrer">
                <img class="image" src="../../../assets/img/leitura.jpg" alt="">
                <h6>Aula 2: Protocolos de Leitura</h6>
            </a>
        </div>

        <div class="card">
            <a href="" target="_blank" rel="noopener noreferrer">
                <img class="image" src="../../../assets/img/corpo.png" alt="">
                <h6>Aula 3: Corpo Humano</h6>
            </a>
        </div>

        <div class="card">
            <a href="" target="_blank" rel="noopener noreferrer">
                <img class="image" src="../../../assets/img/portugues.jpg" alt="">
                <h6>Aula 4: Morfologia</h6>
            </a>
        </div>

        <div class="card">
            <a href="" target="_blank" rel="noopener noreferrer">
                <img class="image" src="../../../assets/img/mapas.jpg" alt="">
                <h6>Aula 5: Constelações & Mapas Celestial</h6>
            </a>
        </div>
    </div>

    <div class="feed">
        <div class="card">
            <a href="" target="_blank" rel="noopener noreferrer">
                <img class="image" src="../../../assets/img/fono.jpg" alt="">
                <h6>Aula 1: Fono-ortografia</h6>
            </a>
        </div>

        <div class="card">
            <a href="" target="_blank" rel="noopener noreferrer">
                <img class="image" src="../../../assets/img/leitura.jpg" alt="">
                <h6>Aula 2: Protocolos de Leitura</h6>
            </a>
        </div>

        <div class="card">
            <a href="" target="_blank" rel="noopener noreferrer">
                <img class="image" src="../../../assets/img/corpo.png" alt="">
                <h6>Aula 3: Corpo Humano</h6>
            </a>
        </div>

        <div class="card">
            <a href="" target="_blank" rel="noopener noreferrer">
                <img class="image" src="../../../assets/img/portugues.jpg" alt="">
                <h6>Aula 4: Morfologia</h6>
            </a>
        </div>

        <div class="card">
            <a href="" target="_blank" rel="noopener noreferrer">
                <img class="image" src="../../../assets/img/mapas.jpg" alt="">
                <h6>Aula 5: Constelações & Mapas Celestial</h6>
            </a>
        </div>
    </div>

    <div class="feed">
        <div class="card">
            <a href="" target="_blank" rel="noopener noreferrer">
                <img class="image" src="../../../assets/img/fono.jpg" alt="">
                <h6>Aula 1: Fono-ortografia</h6>
            </a>
        </div>

        <div class="card">
            <a href="" target="_blank" rel="noopener noreferrer">
                <img class="image" src="../../../assets/img/leitura.jpg" alt="">
                <h6>Aula 2: Protocolos de Leitura</h6>
            </a>
        </div>

        <div class="card">
            <a href="" target="_blank" rel="noopener noreferrer">
                <img class="image" src="../../../assets/img/corpo.png" alt="">
                <h6>Aula 3: Corpo Humano</h6>
            </a>
        </div>

        <div class="card">
            <a href="" target="_blank" rel="noopener noreferrer">
                <img class="image" src="../../../assets/img/portugues.jpg" alt="">
                <h6>Aula 4: Morfologia</h6>
            </a>
        </div>

        <div class="card">
            <a href="" target="_blank" rel="noopener noreferrer">
                <img class="image" src="../../../assets/img/mapas.jpg" alt="">
                <h6>Aula 5: Constelações & Mapas Celestial</h6>
            </a>
        </div>
    </div>

    <div class="feed">
        <div class="card">
            <a href="" target="_blank" rel="noopener noreferrer">
                <img class="image" src="../../../assets/img/fono.jpg" alt="">
                <h6>Aula 1: Fono-ortografia</h6>
            </a>
        </div>

        <div class="card">
            <a href="" target="_blank" rel="noopener noreferrer">
                <img class="image" src="../../../assets/img/leitura.jpg" alt="">
                <h6>Aula 2: Protocolos de Leitura</h6>
            </a>
        </div>

        <div class="card">
            <a href="" target="_blank" rel="noopener noreferrer">
                <img class="image" src="../../../assets/img/corpo.png" alt="">
                <h6>Aula 3: Corpo Humano</h6>
            </a>
        </div>

        <div class="card">
            <a href="" target="_blank" rel="noopener noreferrer">
                <img class="image" src="../../../assets/img/portugues.jpg" alt="">
                <h6>Aula 4: Morfologia</h6>
            </a>
        </div>

        <div class="card">
            <a href="" target="_blank" rel="noopener noreferrer">
                <img class="image" src="../../../assets/img/mapas.jpg" alt="">
                <h6>Aula 5: Constelações & Mapas Celestial</h6>
            </a>
        </div>
    </div>
</div>