/* You can add global styles to this file, and also import other style files */
:root {
    --background-login: #EFF2F9;
    --background-inicial: #1D1B1B;
    --background-md: #EFF2F9;
    --background-todos: #EFF2F9;
}

body {
    background-color: var(--background-login);
}