<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <ul class="navbar-nav r">
        <!-- Avatar -->
        <li mdbDropdown class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle d-flex align-items-center"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            mdbDropdownToggle
            aria-expanded="false"
          >
            <img
           
              src="../../../assets/img/user.png"
              class="rounded-circle"
              height="22"
              alt=""
              loading="lazy"
            />
          </a>
          <ul mdbDropdownMenu class="dropdown" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" href="login">Login</a>
            </li>
            <li>
              <a class="dropdown-item" href="start">Start</a>
            </li>
            <li>
              <a class="dropdown-item" href="login">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div style="color: white; margin-right: 15px;">  {{data1 | date: 'dd/MM/yyyy'}}  </div>
    <div style="margin-right: 15px;">
      <a href="">
        <img class="rounded-circle" src="../../../assets/img/bell-icon-28.png" style="width: 30px; background-color: rgb(185, 184, 184);" alt="">
      </a>
    </div>
    <div>
      <img src="../../../assets/img/OIP.jpg" style="width: 80px; margin-right: 10px;" alt="">
    </div>
</nav>

  <hr>
 <!-- https://mdbootstrap.com/img/Photos/Avatars/img (31).webp -->
  <!-- <nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Tutoriais</a>
            <ul>
                <li><a href="#">CSS</a></li>
                <li><a href="#">HTML</a></li>
                <li><a href="#">JavaScript</a>
                    <ul>
                        <li><a href="#">jQuery</a></li>
                        <li><a href="#">Angular</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#">Artigos</a>
            <ul>
                <li><a href="#">Node.js</a></li>
                <li><a href="#">MongoDB</a></li>
            </ul>
        </li>
        <li><a href="#">Crie seu Próprio Menu</a></li>
    </ul>
</nav> -->